.cta-signup {
	padding: 30px;
    text-align: center;
    background: #252525;
    margin: 0px;

    p {
    	color: #bbb;
	    font-size: 18px;
	    font-weight: normal;
	    line-height: 1.3;
	    margin: 0px 0px 20px 0px;
    }

    strong {
    	color: #fff;
    }
}

.btn {
	font-size: 13px;
	font-weight: 700;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	background: #ea4c89;
	display: inline-block;
	border-radius: 4px;
	transition: background .25s ease;

	&:hover {
		background: #df3e7b;
	}
}


.cta-hire {
	background: #333333;
	color: #bbb;
	text-align: center;
	font-size: 15px;
	padding: 20px;
	margin: 0px;

	p {
		margin: 0px;
	}

	a {
		color: #fff;
		margin-left: 5px;
	}
}